<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Score Tracker Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Score Tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDAD4A13303253450066BE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDAD4A19303253450066BE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDAD4A283032534A0066BE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDAD4A323032534A0066BE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
